<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <javaScriptServices>
      <apps>
        <app name="play-next"
             deploymentSecret="61a8erxazcc5u1y1g0981p0wc4o7j1zqy9kwq00sncsvo"
             debugSecurity="false"
        />
      </apps>
    </javaScriptServices>
  </sitecore>
</configuration>
