<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:integrations="http://www.sitecore.net/xmlconfig/integrations/">
  <sitecore>
    <sites>
        <site name="playsite" virtualFolder="/" physicalFolder="/"
            rootPath="/sitecore/content/Play Sites/Play Site"
            startItem="/home" hostName="playsite.lighthouse.localhost" language="en"
            database="master" domain="extranet" allowDebug="true" cacheHtml="true"
            htmlCacheSize="10MB" registryCacheSize="0" viewStateCacheSize="0" xslCacheSize="5MB"
            filteredItemsCacheSize="2MB" enablePreview="true" enableWebEdit="true" enableDebugger="true"
            disableClientData="false" />
    </sites>
  </sitecore>
</configuration>